* {
    margin: 0;
    padding: 0;

}

:root {
    --font-title: 30px;
    --color-title: #403d3c;
    --color-p: #61614a;
}


body {

    background-color: #f3e5d8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

article {
    background-color: white;

    width:70%;
    padding: 30px;
    background-color: white;
    margin: 20px auto;
    border-radius: 20px;
    

}

img {
    border-radius: 10px;
    width: 100%;


}

h2 {
    margin: 20px 0;
    font-size: var(--font-title);
    color: var(--color-title);
}

p {
    margin-bottom: 20px;
    font-size: 13px;
    text-align: justify;
    color: var(--color-p)
}

.preparation {
    background-color: #fff7fc;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
}

.preparation h4 {
    color: #885d71;
}

h1,
h2,
h3,
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 0;
    color:
}

.prep-time-ul {
    padding-left: 20px;
}

.preparation ul li {
    margin: 5px 0;
}

ol,
ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    margin: 5px 0;
    text-align: justify;
    font-size: 15px;

}

li::marker {
    color: #885d71;

}

hr {
    border: none;
    height: 0.1px;
    /* Espesor de la línea en em */
    background-color: #885d71;
}

.nutrition p {
    color: black;
    border-bottom: 1px solid #ddd0cd;
    padding-bottom: 10px;
}

.nutrition p span {
   
    display: inline-block;
    width: 50%;
}
.cantidad{
    color: #8f5c4f;
    font-weight: bold;
}